@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background: #000;
}

::selection {
    background: grey;
    color: #fff;
}

img {
    pointer-events: none;
}

/* =============================================================================================== */
/* ======================================= Landing Page ========================================== */
/* =============================================================================================== */

.landingPage {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landingPage .topSide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landingPage .topSide .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingPage .topSide .logo a img {
    width: 100px;
}

.landingPage .topSide .logo a p.websiteName {
    color: purple;

}

.text {
    color: grey;
    font-size: 19px;
    font-weight: 700;

}


.text:hover {
    color: #8338ec;

}

.landingPage .topSide .freelancerName p {
    font-size: 32px;
    color: purple;
    text-align: right;
}

.landingPage .background_video {

    display: flex;
    align-items: center;
    justify-content: center;
    right: 2rem;

    padding-right: 5rem;


}

.landingPage .background_video p {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2rem;

    padding-bottom: 5rem;
    color: grey;
}

.landingPage .background_video span {
    color: purple;
    font-size: 15px;
}

.landingPage .navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

.landingPage .navBar a.link {
    transition: all 0.2s ease-in-out;
    color: gray;
}

.landingPage .navBar a.link:hover {
    color: purple;
    text-decoration: underline;
}

.landingPage .mainImage {
    position: absolute;
    bottom: 2rem;
    z-index: -1;
    max-width: 50%;
    border-radius: 10px;
}

.landingPage .mainImage img {
    max-width: 100%;
}

.landingPage .mainImage img:hover {
    cursor: pointer;
}

#scene:hover {
    animation: shake 0.5s;

    animation-iteration-count: infinite;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.landingPage .bottomLeftSide {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.landingPage .bottomLeftSide p.job {
    font-size: 32px;
}

.landingPage .bottomLeftSide p.location {
    font-size: 21px;
    color: grey;
}

.landingPage .bottomLeftSide p.location span {
    color: purple;
}




.landingPage .bottomRightSide {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    writing-mode: vertical-lr;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);

}

.landingPage .bottomRightSide a i {
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}

.landingPage .bottomRightSide a i:hover {
    color: purple;
}


.landingPage .about_section {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2rem;
    left: 2rem;
    /* top: 50%;
    left: 50%; */
    /* gap: 2rem; */

}

/* about me Header */
.landingPage .about_section .header_aboutme {
    font-size: 30px;
    text-align: center;
    transform: translate(30%, 1355%);

}

.landingPage .about_section .image_section {
    position: absolute;
    bottom: 0;
    max-width: 50%;
    transform: translate(-40%, 150%);

}

.landingPage .about_section .image_section img {
    max-width: 50%;
}

/* about me Text  */
.landingPage .about_section .aboutme_text {
    text-align: start;
    position: absolute;
    top: 130%;
    right: 17%;

}











/* =============================================================================================== */
/* ======================================= Responsive ============================================ */
/* =============================================================================================== */

@media screen and (max-width: 768px) {
    .landingPage .topSide .freelancerName {
        display: none;
    }

    .landingPage .mainImage {
        top: 50%;
        transform: translateY(-50%);
    }

    .landingPage .bottomLeftSide {
        bottom: 6rem;
    }

    .landingPage .background_video p {
        font-size: 9px;

    }

    .landingPage .background_video span {

        font-size: 10px;
    }

    /* // About me Section  */

    .landingPage .aboutme_text {

        font-weight: 600;
        bottom: 25rem;


    }

}

@media screen and (max-width: 480px) {
    .landingPage .mainImage {
        display: none;
    }

    .landingPage .about_section .image_section {
        transform: scale(0.7);
        transform: translate(40px, 300px);
    }

    .landingPage .header_aboutme {
        margin-left: -5rem;
        text-decoration: underline grey;
        font-weight: 500;
    }

    .landingPage .about_section .aboutme_text {
        text-align: center;

        font-size: 10px;
        left: 3rem;
        transform: translate(0rem, -2rem);
        color: rgb(120, 41, 41);

    }







}
